<div class="container">
  <form class="mt-5" #form="ngForm" novalidate (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.name"
        name="name"
        #nameValue="ngModel"
        required
      >
      <div
        class="alert alert-danger mt-2"
        *ngIf="nameValue.errors?.required && nameValue.touched"
      >
        Name must be not empty
      </div>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="user.email"
        name="email"
        #emailValue="ngModel"
        email
        required
      >
    </div>
    <div
      class="alert alert-danger mt-2"
      *ngIf="emailValue.errors?.required && emailValue.touched"
    >
      Email must be not empty
    </div>
    <div
      class="alert alert-danger mt-2"
      *ngIf="!emailValue.errors?.required && emailValue.invalid"
    >
      Email should be in a correct format
    </div>
    <button [disabled]="form.invalid" type="submit" class="btn btn-success">Save</button>
  </form>

  <table class="table mt-5" *ngIf="users.length">
    <tr *ngFor="let user of users; let i = index">
      <td>{{ i+1 }}</td>
      <td>
        <input
          [hidden]="!user.editing"
          type="text"
          class="form-control"
          [(ngModel)]="user.name"
          name="name"
          #nameValue="ngModel"
        >
        <span [hidden]="user.editing">{{ user.name }}</span>
      </td>
      <td>
        <input
          [hidden]="!user.editing"
          type="text"
          class="form-control"
          [(ngModel)]="user.email"
          name="email"
          #emailValue="ngModel"
        >
        <span [hidden]="user.editing">{{ user.email }}</span>
      </td>
      <td><button class="btn btn-danger" (click)="removeUser(i)">Delete</button></td>
      <td>
        <button [hidden]="user.editing" class="btn btn-primary" (click)="editMode(i)">Edit</button>
        <button [hidden]="!user.editing" class="btn btn-primary" (click)="saveEdits(i)">Set</button>
      </td>
    </tr>
  </table>
</div>


